/* a.tagline.navbar-brand {
    display: inherit;
    font-size:.75em;
}

.menu-icon {
    position:fixed;
    z-index:550;
}

.nav-brand a {
    text-align:center;
}

.title{
    position:fixed;
    margin:0px auto;
    width:100%;
    z-index:500;
}


span.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1.MuiTypography-displayBlock  {
    color:black;
}
*/
.navbar-brand {
  margin-top: 25px;
  padding-left: 3rem;
}

.navbar-nav {
  margin-top: 25px;
  width: 97.5%;
  justify-content: flex-end;
  display: flex;
  position: fixed;
  flex-direction: row;
}
.nav {
  color: white;
  background-color: transparent;
  /* justify-content:flex-end; */
}

/* .navbar-light .navbar-nav {
    color:white;
} */

.justify-content-center.navbar-nav {
  width: 100%;
}

.navbar {
  z-index: 1050;
  position: fixed;
  background-color: transparent;
  font-weight: 400;
  padding: 1.5rem 1rem;
}

.nav-link {
  opacity: 0.5;
  color: white;
  margin: 0px 18px;
}
.nav-link:hover {
  opacity: 1;
}

.nav-arrow {
  width: 55px;
  margin-left: 5rem;
}

.nav-box * {
  font-family: "canada-type-gibson", sans-serif;
  scroll-behavior: smooth;
  color: #ffcaca;
}

.nav-box * a:hover {
  text-decoration: none;
  color: #ff9393;
  /* color: currentColor; */
}

.nav-arrow img {
  width: 50%;
  margin-top: 5px;
}

@media (max-width: 667px) {
  .nav-arrow {
    position: absolute;
    display: inline-block;
    right: 5px;
    top: 6px;
    width: 50px;
  }
}
.btn-primary {
  border-color: transparent;
  background-color: transparent;
}

/* @media (max-width:667px) {
    .justify-content-center.navbar-nav {
        display:none;
    }

    .fixed-top {
        height:75px;
    }
} */

@media (max-width: 667px) {
  .navbar-nav {
    width: 100%;
    justify-content: center;
    position: fixed;
    flex-direction: row;
    margin-top: -10%;
  }
  .navbar-brand {
    width: 100%;
    margin-top: 25px;
    padding-left: 3rem;
    margin: 10% 10% -10px 0%;
  }
  .works-container {
    padding: 20% 10%;
  }
  .navbar-brand img {
    padding: 10px;
  }

  @media (max-width: 677px) {
    .quote-div {
      width: 75%;
    }
    .home-page .navbar-brand img {
      display: none;
    }
    .home-page .navbar-nav {
      margin-top: 0%;
    }
  }
}
