.nav-box {
  display: flex;
  /* position:fixed;
    bottom:5px; */
  justify-content: space-between;
  max-width: 50vw;
  margin: 0px auto;
  padding:25px;
}
a {
  color: #ff8686;
  z-index:5000;
}

a:hover {
  text-decoration: none;
  color: initial;
  /* opacity:.75; */
}

.works-container {
  text-align: left;
  padding: 10%;
  min-height: 100vh;
}

.off-image {
  width: 100%;
  max-width: 700px;
  text-align: left;
  /* float: left; */
}
.off-image-2 {
  margin-top: 10%;
  margin-right: 5%;
  width: 100%;
  max-width: 700px;
  text-align: left;
  /* float: left; */
}

.works-description {
  padding: 25px;
}

.works-title {
  font-size: 3rem;
  color: #ff8686;
}

.modal-description {
  color: #8b8b8b;
}

.off-image-container {
  display: inline-block;
}

.additional-pics {
  /* margin: 5%; */
  margin-left: 10%;
  display: flex;
  flex-direction: column;
}


@media(max-width: 997px) {
  .additional-pics {
    padding:15%;
    margin-left: 0%;
  }
}

@media (max-width: 667px) {
  .works-description {
    margin: 25% auto;
    padding: 5px;
  }

  .additional-pics {
    margin-left: 0%;
 
  }
}
