.footer-div {
  /* position:absolute;
    top:25%; */
}

.footer-content-box {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.footer-content-box a {
  color: white;
}

.comet-image {
  width: 5%;
  margin-top: -1%;
}

@media (max-width: 667px) {
  .comet-image {
    width: 25%;
    margin-top: -7.5%;
  }
}
