/* .off-page{
    height:100vh;
    background-image: linear-gradient(to right top, #ccebfd, #d3ecfd, #daeefc, #e0effc, #e6f1fb);
} */

/* .off-boxparent{
position:absolute;
top:30%;
left:30%;
} */

.off-textbox {
  width: 100%;
  text-align: left;
}

.off-image {
  width: 50%;
}

.off-box-parent {
  position: relative;
  width: 100%;
}

.off-box-container {
  position: relative;
  max-width: 800px;
  top: 50%;
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
}

/* .off-box-container .off {
    flex:1 1 30%;
} */

.off {
  /* max-width:167px; */
  height: 200px;
  align-items: center;
  flex: 1 1 30%;
  margin: 30px 10px;
  justify-content: center;
  padding: 10px;
}

.off-description {
  color: #ff8686;
  position: absolute;
  width: 100%;
  bottom: -25%;
  left: 50%;
  margin-left: -50%;
}

.off-page-title {
}
.off-page-subtitle {
  color: #adadad;
}

.off-title {
  margin-top: 1rem;
  font-size: 0.95rem;
  /* margin-bottom: 0rem; */
}

.off:hover {
  box-shadow: 0px 0px 0px 3px #ff8686;
  transition: 0.3s;
  cursor: pointer;
  /* transition:ease-out; */
}

.works-page {
  /* overflow-y: hidden; */
}
