

.login-page-content {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }



.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index:400;
}
.edit-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index:400;
}

.delete-icon:hover {
    cursor: pointer;
    color: rgb(255, 134, 134);
}
.edit-icon:hover {
    cursor: pointer;
    color:rgb(255, 134, 134);
}

.post-body {
    padding:25px;
}

.login-form {
    width: 25%;
}

.lead-modal {
    position: fixed;
    width: 400px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
    top: 50%;
    z-index: 2500;
    left: 40%;
}

.additional-images {
    display:inline-block;
    padding:25px;
}


.entry-form {
    width:50%;
    margin:15% auto;
}