

.login-page-content {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }



.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index:400;
}
.edit-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index:400;
}

.delete-icon:hover {
    cursor: pointer;
    color: rgb(255, 134, 134);
}
.edit-icon:hover {
    cursor: pointer;
    color:rgb(255, 134, 134);
}

.post-body {
    padding:25px;
}

.login-form {
    width: 25%;
}

.lead-modal {
    position: fixed;
    width: 400px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
    top: 50%;
    z-index: 2500;
    left: 40%;
}

.additional-images {
    display:inline-block;
    padding:25px;
}

.additional-images svg {
    cursor: pointer;
}

.additional-images svg:hover {
    cursor: pointer;
    color:rgb(255, 134, 134);
}


.entry-form {
    width:50%;
    margin:15% auto;
}

.card-deck .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 27%;
  margin:15px;
}


.card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0px auto;
}

@media (max-width:667px){
    .card-deck .card {
        flex: 1 0 40%;
    }
}

.quill {
    height: 336px;
    margin-bottom: 150px;
    width: 100%;
}